<ion-header>
  <ion-navbar color=primary>
    <ion-title>
      Información del Requerimiento
    </ion-title>
  </ion-navbar>
<!--
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="pagos">
        Cuentas Corrientes
      </ion-segment-button>
      <ion-segment-button value="notas">
        Prov/Compr
      </ion-segment-button>
      <ion-segment-button value="descargar">
        Prov/NC
      </ion-segment-button>
      <ion-segment-button value="faltantes">
        Prov/Falt
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <div style="font-weight:600; font-size:13pt">Instrumento Legal</div>
          <div  style="font-weight:400; font-size:12pt">{{requerimiento.instrumento_legal}}</div>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <div style="font-weight:600; font-size:13pt">Nomenclatura Catastral</div>
          <div  style="font-weight:400; font-size:12pt">{{requerimiento.nomenclatura_catastral}}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <div style="font-weight:600; font-size:13pt">Cuit Titular</div>
          <div  style="font-weight:400; font-size:12pt">{{requerimiento.cuit_titular}}</div>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <div style="font-weight:600; font-size:13pt">Lote Nro.</div>
          <div  style="font-weight:400; font-size:12pt">{{requerimiento.lote_nro}}</div>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <div style="font-weight:600; font-size:13pt">Cuit Obrajero</div>
          <div  style="font-weight:400; font-size:12pt">{{requerimiento.cuit_obrajero}}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <div style="font-weight:600; font-size:13pt">Guia Nro.</div>
          <div  style="font-weight:400; font-size:12pt">{{requerimiento.guia_nro}}</div>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <div style="font-weight:600; font-size:13pt">Volumen A</div>
          <div  style="font-weight:400; font-size:12pt">{{requerimiento.volumen_A}}</div>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <div style="font-weight:600; font-size:13pt">Volumen B</div>
          <div  style="font-weight:400; font-size:12pt">{{requerimiento.volumen_B}}</div>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <div style="font-weight:600; font-size:13pt">Volumen C</div>
          <div  style="font-weight:400; font-size:12pt">{{requerimiento.volumen_C}}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="puppies">
        Encabezado
      </ion-segment-button>
      <ion-segment-button value="kittens">
        Informes
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'puppies'">
      <form [formGroup]="formaInforme">

        <ion-item>
          <ion-label floating>Fecha</ion-label>
          <ion-input type="date" formControlName="fecha" placeholder=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Remito</ion-label>
          <ion-input type="text" formControlName="remito" placeholder=""></ion-input>
        </ion-item>

        <ion-item>
          <p>{{ myPhoto }}</p>
          <img src="{{ myPhoto }}" alt="">
        </ion-item>

        <pre>{{ formaInforme.value | json }}</pre>
        <ion-item>
          <ion-label floating>Coordenadas GPS del Camión</ion-label>
          <ion-input type="text" formControlName="gps" placeholder=""></ion-input>
        </ion-item>

        <ion-item>
          <button style="margin-bottom:20px" (click)="takeGPSCamion()"
                  color="primary" ion-button block>Tomar Coordenadas GPS del Camión</button>
        </ion-item>

        <ion-item>
          <button style="margin-bottom:20px" (click)="takePhotoCamion()"
                  color="primary" ion-button block>Sacar foto del Camión</button>
        </ion-item>

        <ion-item>
          <button ion-button full primary (click)="saveLocal()">Guardar Encabezado</button>
        </ion-item>

      </form>
    </ion-list>

    <ion-list *ngSwitchCase="'kittens'">
      <ion-card>
        <ion-card-header>
          Informes cargados
        </ion-card-header>

        <ion-list>

          <ion-item-sliding>
            <ion-item *ngFor="let informe of informes">
              <h2>Código Rollo: {{ informe.codigo_rollo}}</h2>
              <p>Especie: {{ informe.especie}}</p>
            </ion-item>
          </ion-item-sliding>

        </ion-list>

        <ion-card-header>
          Genera nuevo Informe
        </ion-card-header>
      </ion-card>

      <form [formGroup]="formaLinea">

        <pre>{{ formaLinea.value | json }}</pre>

        <ion-item>
          <ion-label floating>Rodal</ion-label>
          <ion-input type="text" formControlName="rodal" placeholder=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Tendida</ion-label>
          <ion-input type="text" formControlName="tendida" placeholder=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Rollo</ion-label>
          <ion-input type="text" formControlName="rollo" placeholder=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Especie</ion-label>
          <ion-select formControlName="especie">
            <ion-option *ngFor="let especie of especies"
                        [value]="especie.id">{{ especie.nombre }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <p>{{ myPhoto2 }}</p>
          <img src="{{ myPhoto2 }}" alt="">
        </ion-item>

        <ion-item>
          <ion-label floating>Coordenadas GPS</ion-label>
          <ion-input type="text" formControlName="gps" placeholder=""></ion-input>
        </ion-item>

        <ion-item>
          <button style="margin-bottom:20px" (click)="takeGPS()"
                  color="primary" ion-button block>Tomar Coordenadas GPS</button>
        </ion-item>

        <ion-item>
          <button style="margin-bottom:20px" (click)="takePhoto()"
                  color="primary" ion-button block>Sacar foto</button>
        </ion-item>

        <ion-item>
          <ion-label floating>Diametro 1</ion-label>
          <ion-input type="text" formControlName="diametro_1" placeholder=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Diametro 2</ion-label>
          <ion-input type="text" formControlName="diametro_2" placeholder=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Largo</ion-label>
          <ion-input type="text" formControlName="largo" placeholder=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Volumen</ion-label>
          <ion-input type="text" formControlName="volumen" placeholder=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Código Rollo</ion-label>
          <ion-input type="text" formControlName="codigo_rollo" placeholder=""></ion-input>
        </ion-item>

        <ion-item>
          <button ion-button full primary (click)="saveLocalInforme()">Guardar Informe</button>
        </ion-item>

      </form>
    </ion-list>


  </div>


</ion-content>
